.conteinerComment {
  display: flex;
  width: 100%;
  padding: 25px 0 0 0;
  border: 0;
}

.conteinerComment > p {
  padding: 15px;
  background: #F2F2F2;
  width: 100%;
  border-radius: 22px;
  margin-left: 15px;
}
